p {color:red;
    font-size: 30px;}

.estiloparrafo{color: green;}

.estilocapa{border: 5px outset orange;}
.estilocapa p{ color: aqua}

h1{color:blue;}

hr{font-size: 5px;}

.estilodatos{border: 2px outset black}

.estilopago{border: 2px outset black}

    .estilotarjetas{border: 2px outset black}

.estilocomprar{border: 2px outset black}